@{
    ViewBag.Title = "Contact";
}

<div class="container main">
    <div class="row">
        <div class="col-sm-4">
            <img src="~/Content/Images/baby-about-contact.jpg" /><p>
        </div>
        <div class="col-sm-8 col-pad">
            <br /><br /><br />
            <h1>@ViewBag.Title.</h1>
            <p class="description">@ViewBag.Message</p>
            <p class="additional-description">
                <strong>website:</strong> <a href="http://www.ovidiugliga.co.uk/">ovidiugliga.co.uk</a><br />
                <strong>e-mail:</strong> <a href="mailto:gliga_o@yahoo.com">gliga_o@yahoo.com</a>
            </p>
        </div>
    </div>
</div>